header.header.js-header
    .header__left-side
        .header__burger.js-header_burger
            .header__burger-item
            .header__burger-item
            .header__burger-item
        a.header__logo(href="/")
            img.header__logo-image(src="./images/logo.png", alt="")
    .header__right-side.js-burger-side
        nav.header_navigation.js-header_navigation
            ul.header__nav-list
                li
                    a(href="javascript:void(0)") УСЛУГИ
                li
                    a(href="javascript:void(0)") АБОНЕМЕНТЫ
                li 
                    a(href="javascript:void(0)") ПОЧЕМУ МЫ
                li
                    a(href="javascript:void(0)") ОБОРУДОВАНИЕ
                li  
                    a(href="javascript:void(0)") АКЦИИ
                li 
                    a(href="javascript:void(0)") FAQ
                li
                    a(href="javascript:void(0)") КОНТАКТЫ

        .header__contacts 
            .header__phone.--button_parallelogram
                a(href="javascript:void(0)")
                    img(src="./images/phone_icon.png" alt="")
            a.header__poppup.button_str.js-form-call(href="javascript:void(0)") ОСТАВИТЬ ЗАЯВКУ
                 
    